:root{
    --border-radius-size: 10px;
    --distance-between-elements: 10px;
    --UI-height: 35em;
    --primary-color: #970C10;
    --secondary-color: #FDFFF0;
    --tertiary-color: #8B8060;
    --background-color: #1E1200;
}
*{
    font-family: 'Arial';
}
.UI {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    height: var(--UI-height);
    padding: var(--distance-between-elements);
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: var(--border-radius-size);

    background-color: #506377;
    margin-bottom: 3em;
}
/* Left Side */
.Plane {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 50px;
}
.Plane .Controls {
    padding: var(--distance-between-elements);
    padding-left: 0;
    display: flex;
    float: left;
    cursor: pointer;
}
.Plane .Controls>div{
    border-radius: var(--border-radius-size);
    border: 1px solid black;
    padding: var(--distance-between-elements);
    padding-bottom: calc(var(--distance-between-elements) * 2.5);
    background-color: #fff;
}
.jxgbox {
    height: 100%;
    width: 100%;
}

/* Data section */
.Data{
    border: 1px solid black;
    border-radius: var(--border-radius-size);
    margin-left: var(--distance-between-elements);
    margin-right: var(--distance-between-elements);
    padding: var(--distance-between-elements);
    background-color: #fff;
    height: calc(var(--UI-height) * 0.96);
    overflow: hidden;
}
.Data h3{
    margin: 0;
    margin-bottom: var(--distance-between-elements);
}
.Data .Sections{
    border: 1px solid black;
    border-radius: var(--border-radius-size);
    padding: var(--distance-between-elements);
    overflow-y: scroll;
    height: calc(var(--UI-height) * 0.8);
}
.Data .Section:nth-last-child(n+2){
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}

.Data .LEC .Section {
    height: 300px;
    position: relative;
}
.Data .LEC .Section .Controls {
    position: absolute;
    bottom: var(--distance-between-elements);
    right: var(--distance-between-elements);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Menu buttons */
.Menu>div{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: var(--distance-between-elements) 5px var(--distance-between-elements) 5px;
    border: 1px solid black;
    border-radius: var(--border-radius-size);
    background-color: #fff;
    cursor: pointer;
}

/* Old, must be deleted at some point */
.Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Container>div{
    padding: 10px;
}
.clickable{
    text-decoration: underline;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
@media screen and (max-width: 1023px){
    .UI{
        grid-template-columns: 1fr;
        height: auto;
    }
    .Plane{
        height: 30em;
    }
    .Data {
        margin: 1em 0 1em 0;
    }
    .Menu {
        display: flex;
    }
    .Menu>div{
        writing-mode: horizontal-tb;
    }
}