@import url('https://fonts.googleapis.com/css?family=Lato');

:root{
    --controls-height: 20em;
    --controls-padding:1em;
    --plane-height: 25em;
    --plane-height-desktop: 35em;
    --menu-background: rgba(23,23,23,0.72);
    --letter-color: #fff;
    --background-color: #000;
    --transparent-border: rgba(128, 40, 40, 0.16);
}
body, html {
    margin: 0;
    font-family: 'Lato';
    background-color: var(--background-color);
    height: 140vh;
}
::-webkit-scrollbar { 
    display: none; 
}
p,h1,h2,h3,h4,h5{
    margin-block-start: 0;
    margin-block-end: 0;
}
header {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--letter-color);
    height: auto;
    padding: 1em;
    margin-bottom: 1em;
}
/* Plane */
.Plane {
    height: var(--plane-height);
}
.jxgbox {
    height: 100%;
    width: 100%;
}
/* Controls */
.Menu,
.DisplayUI{
    cursor: pointer;
}
.UI {
    position: fixed;
    height: var(--controls-height);
    bottom: 0;
    left: calc(100vw - 40px);
    display: grid;
    grid-template-columns: 40px auto;
    transition: 0.5s;
    z-index: 100;
}
.Cover{
    background-color: #aaa;
    overflow-x: hidden;
    overflow-y: scroll;
}
.Data{
    background-color: var(--menu-background);
    color: var(--letter-color);
}
.Menu {
    position: relative;
    height: 40px;
    width: calc(100vw - 40px);
    border-bottom: 1px solid var(--transparent-border);
    background-color: var(--menu-background);
}
.Menu p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: var(--controls-padding);
    font-size: 1.3em;
}
.Menu img {
    position: absolute;
    right: var(--controls-padding);
    transition: 0.5s;
}
section{
    overflow: hidden;
}
.Data h3,
.Section {
    padding: var(--controls-padding);
}
.Data h3,
.Section:not(:nth-child(1)){
    border-bottom: 1px solid var(--transparent-border);
}
.LEC .Section:nth-last-child(1){
    display: grid;
    grid-template-rows: 2em 2em 6em 2em;
}
.LEC .Controls button{
    margin: auto;
}

/* Classes to toggle */
.Open{
    left: 0;
}
.Flip{
    transform: rotate(180deg);
}
button,
.clickable{
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.clickable{
    text-decoration: underline;
}

@media screen and (min-width: 1024px){
    body,html{
        height: auto;
    }
    .Plane {
        height: var(--plane-height-desktop);
        width: var(--plane-height-desktop);
        margin: auto;
    }
    .UI {
        height: 33em;
    }
    .Menu {
        width: calc(40vw - 40px);
    }
    .Open {
        left: 60vw;
    }
}

